/*隔行变色表格*/
th{
	background-color: black;
	color: white;
}
.table tr:nth-child(2n+1){
	background-color: silver;
}
.top3{
	color: red;
}
/*input获得焦点宽度变为2倍*/
.focusBigger{
	width: 100px;
	-webkit-transition: width 1s ease;
	   -moz-transition: width 1s ease;
	    -ms-transition: width 1s ease;
	     -o-transition: width 1s ease;
	        transition: width 1s ease;
}
.focusBigger:focus{
	width: 200px;
}
/*图片滑动效果*/
div.outer{
	width: 400px;
	height: 200px;
	background-color: red;
	overflow: hidden;
	position: relative;
}
div ul{
	list-style: none;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	animation: slide-init 1s linear;
}
div li{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: -100%;
	top: 0;
	animation: slide-out 1s linear;
}
.li1{background-color: red;}
.li2{background-color: green;}
.li3{background-color: blue;}
li:target{
	left: 0%;
	animation: slide-in 1s linear;
}
@keyframes slide-init{
	from{left: -100%;}
	to{left: 0%;}
}
@keyframes slide-in{
	from{left: 100%;}
	to{left: 0%;}
}
@keyframes slide-out{
	from{left: 0%;}
	to{left: -100%;}
}
div.inner{
	position: absolute;
	bottom: 0px;
	right: 0;
}
.inner a{
	float: left;
	text-decoration: none;
	color: #000;
	background-color: #fff;
	opacity: 0.5;
	padding: 10px 15px;
	border:1px solid #000;
}